body{
	margin: 0;
	padding: 0;
	background-image: url('h1.png');


}

.header_section{
	margin:0;
	padding:0;
	width: 100%;
	background:url(h2.png);
	overflow: hidden;
}

.header_section h1{
	margin:20px;
	padding-left:30px;
	font-size: 32px;
    width: 10%;
	color: white;
	text-transform:uppercase;
	float: left;
}

.header_section h1:hover{
	color: maroon ;
	transform:scale(2);
	transform: translateX(20%);
}

.header_section h2 {
	margin: 0;
	padding: 10px;
	width: 10%;
	color:blue;
	font-size: 30px;
	float: right;
}

.header_section h2:hover{
	color: white;
	transform: translateX(-10%);
	transform: scale(2);
}

.second_section{
	margin: 0;
	padding: 0;
	border: 1px solid red	;
	width: 600px;
	height: 500px;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
	background-color:green;
	border-radius: 25px;
	 animation-name: one;
    animation-duration: 7s;
    animation-iteration-count: infinite;

}
	    


@keyframes one{
	0%{ background: red;
		
	}
	15%{background: #4B0082;
	}
	30% {background: green; 

	}
	45%{background: #00FF00; 

	}
	60%{background: #FFFF00; 

	}
	80%{background:#FF7F00;

	}
	100%{
		background: #FF0000; 
	}

	}






.box h1{
	margin: 0;
	padding: 0;
 	width: 250px;
	height: 200px;
	border: 1px solid gray;
	border-radius: 25px;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
	font-size: 50px;
	font-family: monospace;
    font-weight: bold;
    text-transform: capitalize;
    text-align: center;
    animation-name: colorchange;
    animation-duration: 10s;
    animation-iteration-count: infinite;

   

}
.box h1:hover{
	color: white;
	cursor: all-scroll;
	
	
}

@keyframes colorchange{
	0%{ background: red;
		 transform: rotate(180deg);

	}
	15%{background: #4B0082;transform: scale(.8);

	}
	30% {background: green; transform:translateY(10px);

	}
	45%{background: #00FF00; transform: scale(0.8);

	}
	60%{background: #FFFF00;  transform: scale(1.5);

	}
	80%{background:#FF7F00;top: 1px; transform: scale(.2);
		transform: translateX(-120%);

	}
	100%{
		background: #FF0000; 
	}

	}


/*second closes*/

.icon img {
	width: 50px;
	height:50px;
	border: 1px solid red;
	position: absolute;
	bottom:11%;
	left:66%;
	border-radius: 50px;
 	margin:3px;
 	transition: 1s;
}

.icon img:hover{
	transform: translateX(25px);
}
